@font-face {
  font-family: 'DNFBitBitv2'; 
  src: url('/src/assets/fonts/DNFBitBitv2.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
